.form {
  width: 100%;
  padding: 2px solid red;
}
.form > div {
  padding: 10px;
}
.form > div > label {
  width: 100%;
  position: relative;
}
.icon {
  position: absolute;
  right: 0;
  bottom: 5px;
}

.form > div > input,
.form > div > label > input {
  width: 100%;
  margin: 5px;
  height: 40px;
  border-radius: 10px;
  font-size: larger;
  padding: 10px;
}

.hire {
  text-decoration: underline;
  font-size: large;
  color: blue;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.Contianer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.Header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
}

.Header > button {
  background-color: transparent;
  border: transparent;
  transition: transform ease-in-out;
}

.Header > button:hover {
  transform: scale(0.9);
  color: orange;
  cursor: pointer;
}

.Posts {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.Post {
  border: 2px solid red;
}

.Desc {
  height: 200px;
  border: 2px solid blue;
  position: sticky;
  top: 0;
  padding: 10px;
  background-color: #f9f9f9;
}
.scroll {
}
.content {
  display: flex;
  gap: 10px;
  width: 100%;
  margin: 0 20px;
  align-items: flex-start;
  justify-content: center;
}
.nav {
  width: 100%;
  height: 50px;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchOption {
  margin: 0 10px;
  position: relative;
}
.tags > select {
  width: 150px;
  height: 60px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: aliceblue;
  border-radius: 20px;
  text-align: center;
}

.tags > select > option {
  font-size: larger;
  padding: 5px;
}
.selected {
  display: none;
}
@media (min-width: 900px) {
  .form > div > input {
    width: 100px;
  }
}
@media (max-width: 768px) {
  .Desc {
    display: none;
  }
}
